@{
    ViewData["Title"] = "Incluir Tipo Alocação";
}

@model SQH.Entities.Models.TipoAlocacao.TipoAlocacaoModel

<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <form class="form-horizontal" action="" method="post">
                <fieldset>

                    <input type="hidden" asp-for="IdTipoAlocacao" />

                    <legend class="text-center">Cadastro de tipo de alocação</legend>

                    <div class="form-group">
                        <span class="col-md-12 text-danger text-center" id="spanMsg"></span>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">Nome</label>
                        <div class="col-md-9">
                            <input asp-for="Nome" id="nome" type="text" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="Nome" class="text-danger"></span>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">Sigla</label>
                        <div class="col-md-3">
                            <input asp-for="Sigla" id="sigla" type="text" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="Nome" class="text-danger"></span>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">Cor</label>
                        <div class="col-md-1">
                            <input asp-for="Cor" id="cor" type="color" class="form-control" />
                        </div>
                    </div>
                    <span asp-validation-for="Cor" class="text-danger"></span>

                    <div class="form-group">
                        <div class="col-md-11 text-right">
                            <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                            <button type="reset" class="btn btn-info btn-sm">Limpar</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>


@*<form>
        <div class="container">
            <div class="form-group">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" type="text" class="form-control" maxlength="150" />
                <span asp-validation-for="Nome"></span>
            </div>

            <div>
                <button type="button" class="btn btn-default">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>*@