@{
    ViewData["Title"] = "Incluir Recurso";
}

@model SQH.Entities.Models.Recurso.RecursoModel

<form>
    <div class="container">
        <div class="form-group">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" type="text" class="form-control" maxlength="150" />
            <span asp-validation-for="Nome"></span>
        </div>

        <div>
            <button type="button" class="btn btn-default">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>