@{
    ViewData["Title"] = "Incluir Recurso";
}

<form>
    <div class="container">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" maxlength="150" />
        </div>

        <div>
            <button type="button" class="btn btn-default">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>