@{
    ViewData["Title"] = "Editar Recurso";
}

@model SQH.Entities.Models.Recurso.RecursoModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" id="formCreateRecurso" method="post">
                    <fieldset>
                        <legend class="text-center">Edição de Recurso</legend>
                        <div class="form-group">
                            <label asp-for="Nome" for="Nome" class="col-md-2 control-label"></label>
                            <div class="col-md-9">
                                <input asp-for="Nome" type="text" class="form-control" maxlength="150" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-default">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>