@{
    ViewData["Title"] = "Listagem de Recursos";
}

@model IEnumerable<SQH.Entities.Models.Recurso.RecursoListaModel>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <form asp-action="AtualizarRegistros">
                <h1>Listagem de Recurso</h1>
                <button type="submit" class="btn btn-info">Atualizar Registros</button>
                <div class="clearfix"></div>
            </form>
            <hr />

            <table class="table table-striped table-bordered" cellspacing="0" id="tableRecurso">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.Nome
                        </td>
                        <td>
                            @item.Email
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>