
@{
    ViewData["Title"] = "Edição de Projeto";
}

@model SQH.Entities.Models.Projeto.ProjetoModel

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <input type="hidden" asp-for="Id" />
            <h1>Editar Projeto</h1>
            <button type="button" class="btn btn-info" id="btnModalAdicionarTipoAlocacao">Adicionar Tipo de Alocação</button>
            <div class="clearfix"></div>

            <hr />

            @Html.Partial("_gridAlocacao", Model)

            <div class="text-right">
                <button type="button" class="btn btn-default">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div id="divModalAlocacaoProjeto">
    @Html.Partial("~/Views/Alocacao/_modalAdicionarTipoAlocacao.cshtml", new SQH.Entities.Models.Alocacao.AlocacaoProjetoModel())
</div>

@section Scripts{
    <script src="~/app/js/Projeto/EditProjeto.js"></script>
}
